body {
  display: flex;
  background-image: url("C:\Users\cchit\OneDrive\Desktop\BBMS\frontend\src\images\blood.jpg");
  justify-content: center;
  padding-top: 50px;
  align-items: center;
  background-size: cover;
}
